// Core JS Files
script(src='/assets/js/core/jquery.3.2.1.min.js')
script(src='/assets/js/core/popper.min.js')
script(src='/assets/js/core/bootstrap.min.js')
// jQuery UI
script(src='/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
script(src='/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js')
// Bootstrap Toggle
script(src='/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js')
// jQuery Scrollbar
script(src='/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js')
// Atlantis JS
script(src='/assets/js/atlantis.min.js')
// Atlantis DEMO methods, don't include it in your project!
script(src='/assets/js/setting-demo2.js')
script(src='/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
script(src='/assets/js/alert.js')
script.
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register('/service-worker.js')
        .then(function(registration) {
          console.log('Service Worker registered with scope:', registration.scope);
        })
        .catch(function(error) {
          console.error('Service Worker registration failed:', error);
        });
    });
  }