.sidebar.sidebar-style-2
  .sidebar-wrapper.scrollbar.scrollbar-inner
    .sidebar-content
      ul.nav.nav-primary
        li.nav-item.active
          a(href='/')
            i.fas.fa-home
            p Dashboard

        li.nav-section
          span.sidebar-mini-icon
            i.fa.fa-ellipsis-h
          h4.text-section Manage
        li.nav-item
          a(href='/performance')
            i.fas.fa-chart-line
            p Performance
        if session.division_id == 1
          li.nav-item
            a(href='/division')
              i.fas.fa-sitemap
              p Division
          li.nav-item
            a(href='/user')
              i.fas.fa-users
              p User
          li.nav-item
            a(href='/sales-performance')
              i.fas.fa-chart-bar
              p Sales Performance
        li.nav-item
          a(href='/recomendation')
            i.fas.fa-book
            p Learning Recomendation


        li.nav-item
          a(href='/logout')
            i.fas.fa-sign-out-alt
            p Logout