.sidebar.sidebar-style-2
  .sidebar-wrapper.scrollbar.scrollbar-inner
    .sidebar-content
      ul.nav.nav-primary
        li.nav-item.active
          a(href='/')
            i.fas.fa-home
            p Dashboard

        li.nav-section
          span.sidebar-mini-icon
            i.fa.fa-ellipsis-h
          h4.text-section Manage
        li.nav-item
          a(href='/manage-license')
            i.fas.fa-check-circle
            p Manage Lisensi
        li.nav-item
          a(href='/signout')
            i.fas.fa-sign-out-alt
            p Logout