extends ../layout
block styles 
  //- link(rel='stylesheet' type='text/css' href='/assets/pages/advance-elements/css/bootstrap-datetimepicker.css')

block content
  .row
    .col-md-12#listLicence
      .card
        .card-header
          h4.card-title.d-inline Manage Performance
          if session.division_id == 1
            button#btnAdd.btn.btn-mini.btn-primary.mr-1.float-right(type="button" onClick="return openForm();")
              | Upload Performance
        .card-body
          div.mt-10.mb-3
            form#searchField(autocomplete="off")
              div.row
                div.col-md-3.col-lg-2.col-xs-12
                  label(for="").font-weight-bold.m-b-10.d-sm-none Tanggal Mulai
                  input.form-control.date-picker#dateFrom(type='text' placeholder='Pilih tanggal awal')
                div.col-md-3.col-lg-2.col-xs-12
                  label(for="").font-weight-bold.m-b-10.d-sm-none Tanggal Akhir
                  input.form-control.date-picker#dateTo(type='text' placeholder='Pilih tanggal akhir')
                if session.division_id == 1
                  div.col-md-3.col-lg-2.col-xs-12
                    select.form-control#division
                      option(value="all") Pilih Divisi
                      each d in divisions
                        option(value=d.name)= d.name
                div.col-md-3.col-lg-2.col-xs-12
                  button(type="submit").btn.btn-sm.btn-primary.btn-block.mt-1 Submit

          .table-responsive
            table#license-datatable.display.table.table-striped.table-hover(cellspacing="0" style="width:100%")
              thead
                tr
                  th Aksi
                  th Email
                  th Position
                  th Average
                  th Performance
                  th Performance Score
                  th Flight Risk 
                  th Achivement 
                  th Directorate Name
                  th Location
                  th Tanggal
              tbody

    if session.division_id == 1
      .col-md-4.col-sm-12#formAction(style="display: none;" data-action="add")
        .card
          .card-header
            .card-head-row
              h5.card-title#modalTitle
              .card-tools
                button.close(type='button' onClick="return closeForm();")
                  span(aria-hidden='true') ×
          form#formPerformance
            .modal-body
              input.form-control#licenseId(type='hidden' name="lisenceId")
              .form-group
                label(for='salesPerformance') Upload File Performance
                input.form-control#fileCsv(type='file' name="salesPerformance" required placeholder='Upload File CSV')
                small.text-danger Format File harus CSV
            .card-footer
              button#save.btn.btn-success.btn-sm(type='submit') Simpan Data




block script
  // Datatables
  script(src='/assets/js/plugin/datatables/datatables.min.js')
  // datepicker
  script(src="/assets/js/plugin/moment/moment.min.js") 
  script(src="/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js") 
  //- js/plugin/datepicker/bootstrap-datetimepicker.min.js
  // moment
  script(type='text/javascript' src='/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.js')
  script(type='text/javascript' src='/bower_components/bootstrap-datepicker/js/bootstrap-datepicker.min.js')

  script.

    let dTable;
    $(function(){
      $('#dateFrom').datetimepicker({
        format: 'DD/MM/YYYY',
      });
      $('#dateTo').datetimepicker({
        format: 'DD/MM/YYYY',
      });
      dataTable()
    })

    function removeData(id){
      console.log("id :",id)
      $.ajax({
        url:"/performance/delete",
        method: "DELETE",
        data: {
          id: id
        },
        beforeSend: function () {
          return confirm("Yakin untuk menghapus data ?");
          console.log('Sending data... !');
        },
        success: function(msg){
          closeForm()
          dTable.ajax.reload(null, false)
            showMessage("success", 'flaticon-alarm-1', 'Success !', msg.message)
        },
        error: function (error) {
          console.log("error : ", error)
          showMessage('danger', 'flaticon-error', 'Error !',error.message || error.responseJSON?.message)
        },
      })
    }

    function openForm(){
      $("#listLicence").removeClass("col-md-12").addClass("col-md-8")
      $("#modalTitle").html("Form Performance")
      $("#formAction").attr("data-action","add").show()
    }

    function closeForm(){
      $("#listLicence").removeClass("col-md-8").addClass("col-md-12")
      $("#formPerformance").trigger("reset")
      $("#modalTitle").html("")
      $("#formAction").hide()
    }

    $("#formPerformance").submit(function(e){
      e.preventDefault()
      let csv = document.getElementById("fileCsv").files[0]
      let formData = new FormData()
      $("#save").attr("disabled", true);

      formData.append("file_csv", csv);
      $.ajax({
        url: "/performance/import",
        type: "POST",
        data: formData,
        processData: false,
        contentType: false,
        beforeSend: function () {
          console.log('Sending data... !');
        },
        success: function(msg){
          $("#save").removeAttr("disabled")
          closeForm()
          dTable.ajax.reload(null, false)
            showMessage("success", 'flaticon-alarm-1', 'Success !', msg.message)
        },
        error: function (error) {
          $("#save").removeAttr("disabled")
          console.log("error : ", error)
          showMessage('danger', 'flaticon-error', 'Error !', error.message || error.responseJSON?.message)
        },
      })
    })

    $("#searchField").submit(function() {

      var q = {
        start_date : $('#dateFrom').val().split('/').join('-'),
        end_date : $('#dateTo').val().split('/').join('-'),
        division: $("#division").val()
      }

      dTable.clear();
      dTable.destroy();
      dataTable($.param(q))
      return false;
    })


    function dataTable(query){
      let url = "/performance/datatable"
        if (query) {
          url += '?' + query
        } else {
          url = url
        }     
      dTable = $('#license-datatable').DataTable({
        searching: true,
        ordering: true,
        lengthChange: true,
        responsive: true,
        processing: true,
        serverSide: true,
        searchDelay: 1000,
        paging: true,
        lengthMenu: [5, 10, 50, 100, 150],
        pageLength: [10],
        order: [[1, "desc"]],
        ajax: url,
        columns: [{
          data: "action",
          },
          {
            data : "email"
          },
          {
            data : "position"
          },
          {
            data : "average"
          },
          {
            data : "sales_performance"
          },
          {
            data : "performance_score"
          },
          {
            data : "flight_risk"
          },
          {
            data : "achivement"
          },
          {
            data : "directorate_name"
          },
          {
            data : "location_group"
          },
          {
            data: "createdAt"
          }
        ],
        "pageLength": 10
        })
    }
